
@import "variables";
@import "mixins";

body {
  margin: 0;
  background-color: $bg-color;
  font-family: $font-family, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background-color: $app-color;
  padding: 2em;
  border-radius: 3em;
  text-align: center;
}

.header {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.subhead {
  font-weight: 300;
  font-size: 1rem;
  margin-top: 0.3em;
}

/* 
  DICE
*/

.die-container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
  margin: 1em;

}

.die {
  padding: 0.5em;
  width: 50px;
  height: 50px;
  margin: 0.5em;
  border-radius: 0.2em;
  background-color: $die-bg;
  cursor: pointer;

  -webkit-box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.43); 
  box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.43);
}

.die-value {
  color: $die-text;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

.active-die {
  background-color: $die-saved;
}

/* 
  BUTTON
*/

.btn {
  background-color: $button-bg;
  color: #fff;
  border: none;
  padding: 0.3em 1.75em;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.3rem;
  font-family: $font-family;
  -webkit-box-shadow: 2px 2px 10px -1px rgba(0,0,0,0.63); 
  box-shadow: 2px 2px 10px -1px rgba(0,0,0,0.63);
  cursor: pointer;
  margin-top: 1em;
}

/* 
*/

.roll-count {
  margin-top: 1em;
  font-size: 1.2rem;
}